<ion-view view-title="Local">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
      <div class="list card animate-fade-slide-in-right">
        <a ui-sref="app.friends" class="item">
          <img class="news-img-thumb" src="img/jon-snow.jpg">
          <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
          <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
        </a>
      </div>
    </ion-content>
</ion-view>
