<ion-view view-title="Live Radio">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="hero slide-up" style="background-image: url('img/liveradio.jpg');">
      <audio controls autoplay>
        <source src="audio/ALqunut.mp3" type="audio/mpeg">
      </audio>
    </div>
    <h4>Upcoming Next: </h4>
    <div class="list card animate-fade-slide-in-right">
      <div class="item item-text-wrap">
        <h3>Nigeria Newsletter</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 3:00 a.m
      </div>
    </div>
    <div class="list card animate-fade-slide-in-right">
      <div class="item item-text-wrap">
        <h3>Moving On..... Various</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 3:00 a.m
      </div>
    </div>
    <div class="list card animate-fade-slide-in-right">
      <div class="item item-text-wrap">
        <h3>Giant Stride...President Buhari's visit to malabo, equitorial guinea</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 3:00 a.m
      </div>
    </div>
    <div class="list card animate-fade-slide-in-right">
      <div class="item item-text-wrap">
        <h3>Bala Na Allah Deputy Senate Leader NCC Data Price Increase</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 3:00 a.m
      </div>
    </div>
  </ion-content>
</ion-view>
