<ion-view view-title="Categories">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="content">
      <div class="row">
        <div class="col-12 cat" style="height: 150px; width: 385px; background-image: url('img/nigeria.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
          <h4 class="padding">Nigeria</h4>
        </div>
        <div class="col-12 cat" style="height: 150px; width: 385px; background-image: url('img/politics.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
          <h4 class="padding">Politics</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 cat" style="height: 150px; width: 385px; background-image: url('img/sports.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
          <h4 class="padding">Sports</h4>
        </div>
        <div class="col-12 cat" style="height: 150px; width: 385px; background-image: url('img/business.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
          <h4 class="padding">Business</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 cat" style="height: 150px; width: 385px; background-image: url('img/entertainment.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
          <h4 class="padding">Entertainment</h4>
        </div>
        <div class="col-12 cat" style="height: 150px; width: 385px; background-image: url('img/world.jpg'); background-size: 100%; background-position: center; background-repeat: no-repeat;">
          <h4 class="padding">World</h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
