<ion-view view-title="VON Nigeria">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
      <div class="hero slide-up" style="background-image: url('../img/profile-bg.jpg');">

      </div>
      <div class="content padding">
        <h3>
          <a>Headline: Two Federal High Court judges redeployed</a>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio ducimus earum eius ipsam neque
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio ducimus earum eius ipsam neque
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio ducimus earum eius ipsam neque
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio ducimus earum eius ipsam neque
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio ducimus earum eius ipsam neque
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
          quasi sed soluta sunt vel. Cumque facere inventore perspiciatis quibusdam ullam vel vitae voluptate voluatum.
        </p>

      </div>
    </ion-content>
</ion-view>
