<ion-view view-title="Video">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <div class="video-container no-padding-top">
      <video id="videoE" width="100%" height="180" autoplay muted
             preload="metadata" class="videoPlayer"
             webkit-playsinLine>
        <source src="video/Welcome.mp4" type="video/mp4">
      </video>
    </div>
    <h3 class="padding no-padding-top no-padding-bottom">Title: title of the news being watched in the video</h3>
    <hr/>
    <h4>Upcoming Next: </h4>
    <div class="list card">
      <a ui-sref="app.gallery" class="item">
        <img class="news-img-thumb" src="img/jon-snow.jpg">
        <h3>Title of the news in list goes here Title of the news in list goes here</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 5:00 a.m
      </a>
    </div>
    <div class="list card">
      <a ui-sref="app.gallery" class="item">
        <img class="news-img-thumb" src="img/jon-snow.jpg">
        <h3>Title of the news in list goes here Title of the news in list goes here</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 5:00 a.m
      </a>
    </div>
    <div class="list card">
      <a ui-sref="app.gallery" class="item">
        <img class="news-img-thumb" src="img/jon-snow.jpg">
        <h3>Title of the news in list goes here Title of the news in list goes here</h3>
        <i class="icon news-timestamp ion-clock"></i> 12:00 - 5:00 a.m
      </a>
    </div>
  </ion-content>
</ion-view>


