<ion-view view-title="Latest News">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <!--<div class="tabs tabs-assertive bar-subheader static">
          <a ui-sref="#" class="tab-item">
            Activity
          </a>
          <a ui-sref="#" class="tab-item">
            Friends
          </a>
          <a ui-sref="#" class="tab-item">
            Photos
          </a>
        </div>-->
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <h4>
                  <a class="light">Headline: Two Federal High Court judges redeployed</a>
                </h4>
            </div>
        </div>
        <div class="list card animate-fade-slide-in-right">
          <a ui-sref="app.friends" class="item">
            <img class="news-img-thumb" src="img/jon-snow.jpg">
            <h3>President Buhari appoints Chairman for Financial Reporting Council</h3>
            <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
          </a>
        </div>
        <div class="list card animate-fade-slide-in-right">
          <a ui-sref="app.friends" class="item">
            <img class="news-img-thumb" src="img/jon-snow.jpg">
            <h3>Maritime Agency redeploys directors, other management staff</h3>
            <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
          </a>
        </div>
        <div class="list card animate-fade-slide-in-right">
          <a ui-sref="app.friends" class="item">
            <img class="news-img-thumb" src="img/jon-snow.jpg">
            <h3>Nigerian Army clears 1,250 boko haram suspects</h3>
            <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
          </a>
        </div>
        <div class="list card animate-fade-slide-in-right">
          <a ui-sref="app.friends" class="item">
            <img class="news-img-thumb" src="img/jon-snow.jpg">
            <h3>Ecowas mediating team to send another delegation to Gambia</h3>
            <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
          </a>
        </div>
        <div class="list card animate-fade-slide-in-right">
          <a ui-sref="app.friends" class="item">
            <img class="news-img-thumb" src="img/jon-snow.jpg">
            <h3>Army alerts public to new suicide bombers’ tactics</h3>
            <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
          </a>
        </div>
        <div class="list card animate-fade-slide-in-right">
          <a ui-sref="app.friends" class="item">
            <img class="news-img-thumb" src="img/jon-snow.jpg">
            <h3>AFCON 2017: Southampton’s Boufal misses out for Morocco</h3>
            <i class="icon news-timestamp ion-clock"></i> 5 Min Ago
          </a>
        </div>
    </ion-content>
</ion-view>
